<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.siteUrl }}"><img width="{{ site.logo_info.desktop_width }}" height="{{ site.logo_info.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo_info.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.siteUrl }}"><img width="{{ site.logo_info.mobile_width }}" height="{{ site.logo_info.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo_info.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
