<div class="sub-footer">
  <div class="container">
    <div class="sub-footer-inner">
      <div class="sub-footer-legal">
        {{ site.data.seo.company_name }}{% if site.data.seo.sasu_info %} · {{ site.data.seo.sasu_info }}{% endif %}{% if site.data.seo.rcs_info %} · {{ site.data.seo.rcs_info }}{% endif %}{% if site.data.seo.tva_info %} · {{ site.data.seo.tva_info }}{% endif %}
      </div>
      <div class="sub-footer-legal">
        {% if site.data.seo.director_info %}{{ site.data.seo.director_info }}{% endif %}{% if site.data.seo.server_info %} · {{ site.data.seo.server_info }}{% endif %}
      </div>
    </div>
  </div>
</div>
